
/* Windows NT Resource Script File - Created by Integrated Resource Editor */

#include <winuser.h>
#include <commctrl.h>

1                                 BITMAP "CardNT01.bmp"
2                                 BITMAP "CardNT02.bmp"
3                                 BITMAP "CardNT03.bmp"
4                                 BITMAP "CardNT04.bmp"
5                                 BITMAP "CardNT05.bmp"
6                                 BITMAP "CardNT06.bmp"
7                                 BITMAP "CardNT07.bmp"
8                                 BITMAP "CardNT08.bmp"
9                                 BITMAP "CardNT09.bmp"
10                                BITMAP "CardNT0a.bmp"
11                                BITMAP "CardNT0b.bmp"
12                                BITMAP "CardNT0c.bmp"
13                                BITMAP "CardNT0d.bmp"
14                                BITMAP "CardNT0e.bmp"
15                                BITMAP "CardNT0f.bmp"
16                                BITMAP "CardNT10.bmp"
17                                BITMAP "CardNT11.bmp"
18                                BITMAP "CardNT12.bmp"
19                                BITMAP "CardNT13.bmp"
20                                BITMAP "CardNT14.bmp"
21                                BITMAP "CardNT15.bmp"
22                                BITMAP "CardNT16.bmp"
23                                BITMAP "CardNT17.bmp"
24                                BITMAP "CardNT18.bmp"
25                                BITMAP "CardNT19.bmp"
26                                BITMAP "CardNT1a.bmp"
27                                BITMAP "CardNT1b.bmp"
28                                BITMAP "CardNT1c.bmp"
29                                BITMAP "CardNT1d.bmp"
30                                BITMAP "CardNT1e.bmp"
31                                BITMAP "CardNT1f.bmp"
32                                BITMAP "CardNT20.bmp"
33                                BITMAP "CardNT21.bmp"
34                                BITMAP "CardNT22.bmp"
35                                BITMAP "CardNT23.bmp"
36                                BITMAP "CardNT24.bmp"
37                                BITMAP "CardNT25.bmp"
38                                BITMAP "CardNT26.bmp"
39                                BITMAP "CardNT27.bmp"
40                                BITMAP "CardNT28.bmp"
41                                BITMAP "CardNT29.bmp"
42                                BITMAP "CardNT2a.bmp"
43                                BITMAP "CardNT2b.bmp"
44                                BITMAP "CardNT2c.bmp"
45                                BITMAP "CardNT2d.bmp"
46                                BITMAP "CardNT2e.bmp"
47                                BITMAP "CardNT2f.bmp"
48                                BITMAP "CardNT30.bmp"
49                                BITMAP "CardNT31.bmp"
50                                BITMAP "CardNT32.bmp"
51                                BITMAP "CardNT33.bmp"
52                                BITMAP "CardNT34.bmp"
2048                              BITMAP "BackNT0.bmp"

STRINGTABLE
BEGIN
    1024,                               "52"
END
