
/* OS/2 Warp Resource Script File - Created by Integrated Resource Editor */

#include <os2.h>

BITMAP      1 "Card0.BMP"
BITMAP      2 "Card1.BMP"
BITMAP      3 "Card2.BMP"
BITMAP      4 "Card3.BMP"
BITMAP      5 "Card4.BMP"
BITMAP      6 "Card5.BMP"
BITMAP      7 "Card6.BMP"
BITMAP      8 "Card7.BMP"
BITMAP      9 "Card8.BMP"
BITMAP      10 "Card9.BMP"
BITMAP      11 "Card10.BMP"
BITMAP      12 "Card11.BMP"
BITMAP      13 "Card12.BMP"
BITMAP      14 "Card13.BMP"
BITMAP      15 "Card14.BMP"
BITMAP      16 "Card15.BMP"
BITMAP      17 "Card16.BMP"
BITMAP      18 "Card17.BMP"
BITMAP      19 "Card18.BMP"
BITMAP      20 "Card19.BMP"
BITMAP      21 "Card20.BMP"
BITMAP      22 "Card21.BMP"
BITMAP      23 "Card22.BMP"
BITMAP      24 "Card23.BMP"
BITMAP      25 "Card24.BMP"
BITMAP      26 "Card25.BMP"
BITMAP      27 "Card26.BMP"
BITMAP      28 "Card27.BMP"
BITMAP      29 "Card28.BMP"
BITMAP      30 "Card29.BMP"
BITMAP      31 "Card30.BMP"
BITMAP      32 "Card31.BMP"
BITMAP      33 "Card32.BMP"
BITMAP      34 "Card33.BMP"
BITMAP      35 "Card34.BMP"
BITMAP      36 "Card35.BMP"
BITMAP      37 "Card36.BMP"
BITMAP      38 "Card37.BMP"
BITMAP      39 "Card38.BMP"
BITMAP      40 "Card39.BMP"
BITMAP      41 "Card40.BMP"
BITMAP      42 "Card41.BMP"
BITMAP      43 "Card42.BMP"
BITMAP      44 "Card43.BMP"
BITMAP      45 "Card44.BMP"
BITMAP      46 "Card45.BMP"
BITMAP      47 "Card46.BMP"
BITMAP      48 "Card47.BMP"
BITMAP      49 "Card48.BMP"
BITMAP      50 "Card49.BMP"
BITMAP      51 "Card50.BMP"
BITMAP      52 "Card51.BMP"

BITMAP      2048 "Back0.BMP"

STRINGTABLE MOVEABLE DISCARDABLE
BEGIN
    1024,                               "52"
END
