/************************************************************************
 *
 * File: Jacks.RC
 *
 * This contains resource definitions for the Jacks or Better DLL.
 *
 ************************************************************************/
#include    <os2.h>
#include    "..\MPokerDLL.H"
#include    "Jacks.H"

STRINGTABLE
BEGIN
    DName   "Jacks or Better"
    DVersion    "1.00"
    DDVersion   "1.00"
    DNumDeck    "1"
    DDeck       "Standard"
    DHand+NOTHING   "Nothing"
    DHand+JACKS_OR_BETTER     "Jacks or Better"
    DHand+TWO_PAIR     "Two pair"
    DHand+THREE_OF_A_KIND       "Three of a kind"
    DHand+STRAIGHT      "Straight"
    DHand+FLUSH         "Flush"
    DHand+FULL_HOUSE        "Full House"
    DHand+FOUR_OF_A_KIND    "Four of a kind"
    DHand+STRAIGHT_FLUSH    "Straight flush"
    DHand+ROYAL_FLUSH       "Royal flush"
    DPayout+NOTHING                 "0"
    DPayout+JACKS_OR_BETTER         "1"
    DPayout+TWO_PAIR                "2"
    DPayout+THREE_OF_A_KIND         "3"
    DPayout+STRAIGHT                "4"
    DPayout+FLUSH                   "6"
    DPayout+FULL_HOUSE              "9"
    DPayout+FOUR_OF_A_KIND          "25"
    DPayout+STRAIGHT_FLUSH          "50"
    DPayout+ROYAL_FLUSH             "250"
    DPayout+TWO_DOLLAR+NOTHING      "0"
    DPayout+TWO_DOLLAR+JACKS_OR_BETTER  "2"
    DPayout+TWO_DOLLAR+TWO_PAIR     "4"
    DPayout+TWO_DOLLAR+THREE_OF_A_KIND  "6"
    DPayout+TWO_DOLLAR+STRAIGHT     "8"
    DPayout+TWO_DOLLAR+FLUSH        "12"
    DPayout+TWO_DOLLAR+FULL_HOUSE   "18"
    DPayout+TWO_DOLLAR+FOUR_OF_A_KIND       "50"
    DPayout+TWO_DOLLAR+STRAIGHT_FLUSH       "100"
    DPayout+TWO_DOLLAR+ROYAL_FLUSH      "500"
    DPayout+THREE_DOLLAR+NOTHING        "0"
    DPayout+THREE_DOLLAR+JACKS_OR_BETTER    "3"
    DPayout+THREE_DOLLAR+TWO_PAIR       "6"
    DPayout+THREE_DOLLAR+THREE_OF_A_KIND    "9"
    DPayout+THREE_DOLLAR+STRAIGHT       "12"
    DPayout+THREE_DOLLAR+FLUSH          "18"
    DPayout+THREE_DOLLAR+FULL_HOUSE     "27"
    DPayout+THREE_DOLLAR+FOUR_OF_A_KIND     "75"
    DPayout+THREE_DOLLAR+STRAIGHT_FLUSH     "150"
    DPayout+THREE_DOLLAR+ROYAL_FLUSH        "750"
    DPayout+FOUR_DOLLAR+NOTHING         "0"
    DPayout+FOUR_DOLLAR+JACKS_OR_BETTER     "4"
    DPayout+FOUR_DOLLAR+TWO_PAIR        "8"
    DPayout+FOUR_DOLLAR+THREE_OF_A_KIND "12"
    DPayout+FOUR_DOLLAR+STRAIGHT        "16"
    DPayout+FOUR_DOLLAR+FLUSH           "24"
    DPayout+FOUR_DOLLAR+FULL_HOUSE      "36"
    DPayout+FOUR_DOLLAR+FOUR_OF_A_KIND  "100"
    DPayout+FOUR_DOLLAR+STRAIGHT_FLUSH      "200"
    DPayout+FOUR_DOLLAR+ROYAL_FLUSH     "1000"
    DPayout+FIVE_DOLLAR+NOTHING         "0"
    DPayout+FIVE_DOLLAR+JACKS_OR_BETTER     "5"
    DPayout+FIVE_DOLLAR+TWO_PAIR        "10"
    DPayout+FIVE_DOLLAR+THREE_OF_A_KIND "15"
    DPayout+FIVE_DOLLAR+STRAIGHT        "20"
    DPayout+FIVE_DOLLAR+FLUSH           "30"
    DPayout+FIVE_DOLLAR+FULL_HOUSE      "45"
    DPayout+FIVE_DOLLAR+FOUR_OF_A_KIND  "125"
    DPayout+FIVE_DOLLAR+STRAIGHT_FLUSH  "250"
    DPayout+FIVE_DOLLAR+ROYAL_FLUSH     "4000"
END
