/************************************************************************
 *
 * File: Deuces.RC
 *
 * This contains resource definitions for the Deuces Wild DLL.
 *
 ************************************************************************/
#include    <os2.h>
#include    "..\MPokerDLL.H"
#include    "Deuces.H"

STRINGTABLE
BEGIN
    DName   "Deuces Wild"
    DVersion    "1.00"
    DDVersion   "1.00"
    DNumDeck    "1"
    DDeck       "DWDeck"
    DHand+NOTHING   "Nothing"
    DHand+THREE_OF_A_KIND       "Three of a kind"
    DHand+STRAIGHT      "Straight"
    DHand+FLUSH         "Flush"
    DHand+FULL_HOUSE        "Full House"
    DHand+FOUR_OF_A_KIND    "Four of a kind"
    DHand+STRAIGHT_FLUSH    "Straight flush"
    DHand+FIVE_OF_A_KIND    "Five of a kind"
    DHand+ROYAL_FLUSH       "Royal flush"
    DHand+FOUR_TWOS         "Four 2s"
    DHand+NATURAL_ROYAL_FLUSH       "Natural Royal Flush"
    DPayout+NOTHING                 "0"
    DPayout+THREE_OF_A_KIND         "1"
    DPayout+STRAIGHT                "2"
    DPayout+FLUSH                   "3"
    DPayout+FULL_HOUSE              "4"
    DPayout+FOUR_OF_A_KIND          "4"
    DPayout+STRAIGHT_FLUSH          "9"
    DPayout+FIVE_OF_A_KIND          "15"
    DPayout+ROYAL_FLUSH             "25"
    DPayout+FOUR_TWOS               "200"
    DPayout+NATURAL_ROYAL_FLUSH     "250"
    DPayout+TWO_DOLLAR+NOTHING      "0"
    DPayout+TWO_DOLLAR+THREE_OF_A_KIND  "2"
    DPayout+TWO_DOLLAR+STRAIGHT     "4"
    DPayout+TWO_DOLLAR+FLUSH        "6"
    DPayout+TWO_DOLLAR+FULL_HOUSE   "8"
    DPayout+TWO_DOLLAR+FOUR_OF_A_KIND       "8"
    DPayout+TWO_DOLLAR+STRAIGHT_FLUSH       "18"
    DPayout+TWO_DOLLAR+FIVE_OF_A_KIND       "30"
    DPayout+TWO_DOLLAR+ROYAL_FLUSH      "50"
    DPayout+TWO_DOLLAR+FOUR_TWOS        "400"
    DPayout+TWO_DOLLAR+NATURAL_ROYAL_FLUSH      "500"
    DPayout+THREE_DOLLAR+NOTHING        "0"
    DPayout+THREE_DOLLAR+THREE_OF_A_KIND    "3"
    DPayout+THREE_DOLLAR+STRAIGHT       "6"
    DPayout+THREE_DOLLAR+FLUSH          "9"
    DPayout+THREE_DOLLAR+FULL_HOUSE     "12"
    DPayout+THREE_DOLLAR+FOUR_OF_A_KIND     "12"
    DPayout+THREE_DOLLAR+STRAIGHT_FLUSH     "27"
    DPayout+THREE_DOLLAR+FIVE_OF_A_KIND     "45"
    DPayout+THREE_DOLLAR+ROYAL_FLUSH        "75"
    DPayout+THREE_DOLLAR+FOUR_TWOS          "600"
    DPayout+THREE_DOLLAR+NATURAL_ROYAL_FLUSH    "750"
    DPayout+FOUR_DOLLAR+NOTHING         "0"
    DPayout+FOUR_DOLLAR+THREE_OF_A_KIND "4"
    DPayout+FOUR_DOLLAR+STRAIGHT        "8"
    DPayout+FOUR_DOLLAR+FLUSH           "12"
    DPayout+FOUR_DOLLAR+FULL_HOUSE      "16"
    DPayout+FOUR_DOLLAR+FOUR_OF_A_KIND  "16"
    DPayout+FOUR_DOLLAR+STRAIGHT_FLUSH      "36"
    DPayout+FOUR_DOLLAR+FIVE_OF_A_KIND      "60"
    DPayout+FOUR_DOLLAR+ROYAL_FLUSH     "100"
    DPayout+FOUR_DOLLAR+FOUR_TWOS       "800"
    DPayout+FOUR_DOLLAR+NATURAL_ROYAL_FLUSH     "1000"
    DPayout+FIVE_DOLLAR+NOTHING         "0"
    DPayout+FIVE_DOLLAR+THREE_OF_A_KIND "5"
    DPayout+FIVE_DOLLAR+STRAIGHT        "10"
    DPayout+FIVE_DOLLAR+FLUSH           "15"
    DPayout+FIVE_DOLLAR+FULL_HOUSE      "20"
    DPayout+FIVE_DOLLAR+FOUR_OF_A_KIND  "20"
    DPayout+FIVE_DOLLAR+STRAIGHT_FLUSH  "45"
    DPayout+FIVE_DOLLAR+FIVE_OF_A_KIND      "75"
    DPayout+FIVE_DOLLAR+ROYAL_FLUSH     "125"
    DPayout+FIVE_DOLLAR+FOUR_TWOS       "1000"
    DPayout+FIVE_DOLLAR+NATURAL_ROYAL_FLUSH     "4000"
END
